/* Write your CSS here */
.todo-bg-con {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.todo-card-con {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
